.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: var(--secondarybackground);
  margin: 10% auto;
  padding: 20px;
  max-width: unset;
  width: unset;
  border-radius: 8px;
  color: var(--text);
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.3);
  position: relative;
  text-align: center;
}

.close {
  color: var(--text);
  position: absolute;
  right: 16px;
  top: 8px;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}
